$white: white;
$section-white: white;
$bg-gray: #E1E2E1;
$primary: #5c6bc0;
$light-primary: #8e99f3;
$dark-primary: #26418f;
$complementary: #38dcf1;
$blue: #4051B5;
$red: #E8433F;
$green: #388e3c;
$black: #333;
$gray: #626262;
$light-gray: #f0f0f0;