@import "./color.scss";
@import "./reset.scss";
@import "./device.scss";
@import "./component.scss";
@import "./animation.scss";
@import "./roulette/roulette.scss";
@import "./editRoulette/editRoulette.scss";

html,body {
  height: 100%;
  font-family: "Noto Sans CJK TC Regular";
  background: $bg-gray;

  
  main {
    padding: 50px;
    display: flex;
    align-items: flex-end;
  }

  .container {
    background: $section-white;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    border-radius: 20px;
    height: 650px;
    padding: 20px;
  }
}

@media screen and (max-width: $mobile){
  html,body {
    background: $white;
    min-width: 320px;
    
    main {
      height: 100%;
      padding: 0;
      display: block;
      position: relative;
    }

    .container {
      box-shadow: initial;
      height: 100%;
    }
  }
}