@import "./reset.scss";
@import "./color.scss";
@import "./roulette/roulette.scss";
@import "./editRoulette/editRoulette.scss";

html,body {
  height: 100%;
  font-family: "Noto Sans CJK TC Regular";
  background: $bg-gray;
}

main {
  padding: 50px;
  display: flex;
  align-items: flex-end;
}

.container {
  background: $white;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  border-radius: 20px;
  height: 650px;
  padding: 20px;
}
