html, body, ol, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

input {
  height: 30px;
  width: 100%;
  display: block;
  border-width: 0 0 1px 0;

  &:disabled {
    color: $black;
    background-color: initial;
    border: none;
  }

  &:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
  }
}

select {
  width: 100%;
  height: 30px;
  border-width: 0 0 1px 0;
  background: transparent;

  &:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
  }
}
