html, body, ol, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: $black;
}

* {
  box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

.preload * {
  transition: none !important;
}

input {
  height: 30px;
  width: 100%;
  display: block;
  border-width: 0 0 1px 0;
  border-radius: 0;

  &:disabled {
    color: $black;
    background-color: initial;
    border: none;
  }

  &:focus-visible {
    outline: none;
  }
}

select {
  width: 100%;
  height: 30px;
  border-width: 0 0 1px 0;
  background: transparent;
  border-radius: 0;

  &:focus-visible, &:focus{
    outline: none;
  }
}
