.icon-shadow {
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%),
    0px 1px 18px 0px rgb(0 0 0 / 12%);
}

aside { 
  border-radius: 50%;
  width: 56px;
  height: 56px;
  overflow: hidden;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s;
  transition-timing-function:ease-in-out;
  @extend .icon-shadow;

  #close-icon {
    display: none;
  }

  &.open{
    width: 400px;
    margin-left: 20px;

    section {
      opacity: 1;
      height: initial;
      transition: opacity 0.5s cubic-bezier(1, 0, 1, 1);
    }

    #edit-icon {
      display: none;
    }

    #close-icon {
      display: flex;
    }
  }

  .icon-container {
    display: flex;
    justify-content: center;

    .icon {
      cursor: pointer;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend .icon-shadow;
    }
  }

  section {
    opacity: 0;
    height: 0;
    overflow: hidden;

    .title-containter {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;

      .add-btn {
        cursor: pointer;
        color: $blue;
        
        i {
          padding-right: 5px;
        }
      }
    }

    .choose-roulette {
      padding-bottom: 20px;

      #select-roulette {
        width: 100%;
        height: 30px;
        border-width: 0 0 1px 0;
        background: transparent;
      }
    }

    .items-container {
      .title {
        padding-bottom: 10px;
      }
      
      .item-align {
        display: flex;

        * {
          margin-right: 10px;
          flex: 1;
        }

        *:nth-child(1) {
          flex: 7;
        }
      }

      .item-title {
        margin-bottom: 5px;
      }

      .items {
        li {
          height: 30px;
          align-items: center;
          margin-bottom: 3px;

          input {
            height: 30px;
            width: 100%;
            display: block;
            border-width: 0 0 1px 0;
            margin-right: 10px;
            flex: 1;

            &:disabled {
              color: $black;
              background-color: initial;
              border: none;
            }
          }

          i {
            color: $red;
            cursor: pointer;
            text-align: right;
          }
        }
      }
      
      #add-item {
        cursor: pointer;
        color: $blue;
      }
    }

    #close-btn{
      border-radius: 50%;
      width: 56px;
      height: 56px;
      overflow: hidden;
      box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
      display: flex;
      align-items: center;
      justify-content: center;
      background: $white;
    }
  } 
}